* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  line-height: 1;
  background-color: #aaa;
}

.task-list {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote::before,
blockquote::after,
q::before,
q::after {
  content: none;
  content: "";
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  font-size: 25px;
  padding: 30px 0;
}

.list-wrapper {
  margin: 160px auto;
  width: 60%;
  box-shadow: 5px 5px 60px 5px;
  background-color: #fff;
  color: rgb(56, 55, 55);
}

.add {
  box-sizing: border-box;
  width: 100%;
  outline: none;
  border: none;
}

.delete {
  cursor: pointer;
  padding: 15px;
}

i {
  cursor: pointer;
  margin-left: auto;
}

.itemDescrip {
  margin: 0 0 0 16px;
  color: rgb(56, 55, 55);
}

.delete h2 {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
  transition: 1s;
}

.delete:hover {
  color: rgb(255, 0, 0);
}

.item {
  display: flex;
  align-items: center;
  border-bottom: 1px solid lightgray;
  padding: 16px;
}

.fa-solid {
  font-size: 15px;
  color: rgb(0, 0, 0) !important;
  display: block !important;
}
